<link rel="stylesheet" href="/css/footer.css">
<script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>

<footer>
    <div class="container">
        <div class="row">
            <div class="mb-4 col-lg-3 col-sm-6 text-dark">
                <h5 class="pb-1"><b>Grace on Campus</b></h5>
                <h6><ion-icon name="time-outline"></ion-icon>&nbsp;&nbsp;&nbsp; Fridays at 7pm</h6>
                <h6><ion-icon name="location-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="noopener" href="https://goo.gl/maps/cX1To" target="_blank">Broad Art Center 2160E</a></h6>
                <h4><a class="mr-3" rel="noopener" href="https://www.facebook.com/GOCatUCLA" target="_blank"><span class="sr-only">Grace on Campus Christian Fellowship Facebook</span><ion-icon name="logo-facebook"></ion-icon></a>
                <a class="mr-3" rel="noopener" href="https://www.instagram.com/goc_ucla/" target="_blank"><span class="sr-only">Grace on Campus Christian Fellowship Instagram</span><ion-icon name="logo-instagram"></ion-icon></a>
                <a class="mr-3" rel="noopener" href="https://vimeo.com/user32835937" target="_blank"><span class="sr-only">Grace on Campus Christian Fellowship Vimeo</span><ion-icon name="logo-vimeo"></ion-icon></a>
                <a class="mr-3" rel="noopener" href="https://graceoncampusucla.wordpress.com/" target="blank"><span class="sr-only">Grace on Campus Christian Fellowship Blog</span><ion-icon name="logo-wordpress"></ion-icon></i></a></h4>

            </div>
            <div class="mb-4 col-lg-3 col-sm-6 text-dark">
                <h5 class="pb-1"><b>Student Contact</b></h5>
                <h6>Caleb Ting</h6>
                <h6><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="noopener" href="tel:+16265322555">(626) 532-2555</a></h6>
                <h6 class="mb-3">
                    <ion-icon name="mail-outline"></ion-icon></i>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="noopener" href="mailto:gocateam@gmail.com" target="_blank">gocateam@gmail.com</a>
                </h6>
            </div>
            <div class="col py-3 px-5 mx-4">
                <div class="float-right">
                <a rel="noopener" target="_blank" href="https://gracechurch.org">
                    <img alt="Grace Community Church Logo" style="max-width: 200px" class="img-fluid" src="https://www.gracechurch.org/Content/images/gcc-logo-2014@2x.png" />
                </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/analytics.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67990816-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-67990816-1');
    $(document).ready(function() {
        var pathname = window.location.pathname;
        var reg = /\/[^/\\]+/
        $('nav > div > ul > li > a[href="'+pathname.match(reg)+'"]').parent().addClass('active');
        $('.hamburger').click(function() {
          $('.hamburger').toggleClass("is-active");
          $('.navbar').toggleClass("ham-is-active");
        });
    });
    $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
    });
</script>
