<footer>
    <div class="container">
        <div class="row">
            <div class="mb-4 col-3 text-dark">
                <h5 class="pb-1">Grace on Campus</h5>
                <h6><i class="icon ion-clock"></i>&nbsp;&nbsp;&nbsp;Fridays at 7pm</h6>
                <h6><i class="icon ion-ios-location" style="margin-left:2.5px"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="noopener" href="https://goo.gl/maps/cX1To" target="_blank">Broad Art Center 2160E</a></h6>
                <h4><a class="mr-3" rel="noopener" href="https://www.facebook.com/GOCatUCLA" target="_blank"><span class="sr-only">Grace on Campus Christian Fellowship Facebook</span><i class="icon ion-social-facebook"></i></a>
                <a class="mr-3" rel="noopener" href="https://www.instagram.com/goc_ucla/" target="_blank"><span class="sr-only">Grace on Campus Christian Fellowship Instagram</span><i class="icon ion-social-instagram"></i></a>
                <a class="mr-3" rel="noopener" href="https://vimeo.com/user32835937" target="_blank"><span class="sr-only">Grace on Campus Christian Fellowship Vimeo</span><i class="icon ion-social-vimeo"></i></a>
                <a class="mr-3" rel="noopener" href="https://graceoncampusucla.wordpress.com/" target="blank"><span class="sr-only">Grace on Campus Christian Fellowship Blog</span><i class="icon ion-social-wordpress"></i></a></h4>

            </div>
            <div class="mb-4 col-3 text-dark">
                <h5 class="pb-1">Student Contact</h5>
                <h6>Caleb Ting</h6>
                <h6><i class="icon ion-ios-telephone"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="noopener" href="tel:+16265322555">(626) 532-2555</a></h6>
                <h6 class="mb-3">
                    <i class="icon ion-ios-email" style="margin-left:2.5px"></i>&nbsp;&nbsp;&nbsp;&nbsp;<a rel="noopener" href="mailto:gocateam@gmail.com" target="_blank">gocateam@gmail.com</a>
                </h6>
            </div>
            <div class="col py-3 px-5 mx-4">
                <div class="float-right">
                <a rel="noopener" target="_blank" href="https://gracechurch.org">
                    <img alt="Grace Community Church Logo" style="max-width: 200px" class="img-fluid" src="https://www.gracechurch.org/Content/images/gcc-logo-2014@2x.png" />
                </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/analytics.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js" ></script>
<script src="/js/bootstrap.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67990816-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-67990816-1');
    $(document).ready(function() {
        var pathname = window.location.pathname;
        var reg = /\/[^/\\]+/
        $('nav > div > ul > li > a[href="'+pathname.match(reg)+'"]').parent().addClass('active');
        $('.hamburger').click(function() {
          $('.hamburger').toggleClass("is-active");
        });
    });
    $(window).scroll(function(){
        $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
    });
</script>
