<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
<% if (title) { %>
  <%- title %> - Christian Fellowship at UCLA
<% } else { %>
Grace on Campus - Christian Fellowship at UCLA
<% } %>
</title>
<meta name="description" content="Grace on Campus is a Christian fellowship at UCLA. As a ministry of Grace Community Church, we focus on Bible teaching, leadership training, evangelism, and discipleship.">
<link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/assets/favicon.png">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
