<link rel="stylesheet" href="/css/mainNav.css">

<nav class="navbar navbar-expand-md navbar-light navbar-fixed-top">
    <a class="navbar-brand mr-0 mr-md-4" href="/">
        <svg class="d-block" width="100" height="45" viewBox="97 78 91 36" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M125.85 82.3c1.08.95 1.83 1.8 1.83 1.8s-.54.7-.98 1.4c-.5.8-.93 1.77-1.12 2.15-.45.9-1.07 3.27-1.15 3.24-.08-.1-.46-.9-1.1-1.8-.5-.7-1.14-1.4-1.52-1.7-1.6-1.5-3.1-2.4-6-2.8-.9-.2-1.8-.1-2.7 0-1.8.3-3.6 1-5 2-1 .7-2.2 2-3 3.5-.4.8-1 2.2-1.1 2.7-.4 2-.3 3.5 0 5 .4 1.2.8 2.3 1.3 3.2.5.8.8 1.1 1 1.3.9 1 2.1 1.9 3.2 2.6 1.2.6 2.5 1 3.7 1.2.6.1 1.5.1 2.3.1.5-.1 1-.1 1.4-.2 1.3-.3 2.1-.7 2.4-.8 1.5-.6 3.5-2.3 4.6-3.8.8-1.2 1.4-2.9 1.4-2.9h-6.4s-.8-.1-1.5-.4c-.54-.3-1-.7-1.34-1.3-.4-.7-.5-1.7-.1-2.5.3-.8 1-1.3 1.5-1.55.7-.4 1.6-.4 1.6-.4h6.9s.36-2.6 1.53-4.9c.4-.9 1.1-2.03 1.6-2.7.46-.64 1.2-1.6 1.95-2.3 1.2-1.2 2.6-2.24 3.77-2.84 1.6-.8 2.2-1 4.1-1.55 1-.3 3.6-.5 5.65-.34 2.1.14 4 .64 4.75.93 3 1.2 5 2.94 5.8 3.8 1 .97 2.1 2.54 2.1 2.54.7-.9 1.1-1.3 1.5-1.8.8-.9 1.3-1.2 2.3-2 1.2-1 2.9-1.9 4.1-2.3 1.5-.6 3.04-1 4.75-1.1 2.2-.3 4.35 0 6.17.5.98.25 2.7.84 4.3 1.8 1.65 1 3.3 2.4 4.6 4 1.07 1.2 2 2.8 2.5 4.1.3.6.57 1.15.57 1.5 0 1.85-3.25 2.44-4.1 2.3-1.16-.2-2.07-.65-2.35-1.16-.2-.32-.38-.72-.58-1.1-.4-.8-.97-1.6-2.26-2.8-.8-.7-2.4-1.7-3.9-2.12-2.72-.84-4.4-.54-5.52-.3-1.1.2-3.4.95-5.4 2.84-1.6 1.5-2.5 3.4-2.9 4.67-.6 1.8-.4 3-.6 4.9-.2 2.15-.8 4.1-1.3 5.2-.7 1.64-2.05 4.55-5.6 7.3-1.6 1.2-3.4 2.1-5.6 2.8-1.52.42-3.5.6-5.03.6-2 0-4.26-.5-5.7-1-3-1-4.72-2.6-5.23-3-1.5-1.2-3.15-3.24-3.15-3.24s-3.34 5.1-9.8 6.65c-2.03.5-4.23.7-6.55.33-3.6-.5-6.7-1.94-8.7-3.7-1.5-1.2-3.04-2.92-4.2-4.9-1.4-2.4-2.1-5.1-2.3-7.3-.2-2.24.1-5.3 1.2-7.94.85-2.1 2.2-3.96 3.5-5.4 1.5-1.67 3.55-3.06 5.6-4 2.1-.9 4.16-1.3 5.8-1.4 1.23-.1 2.9-.04 4.3.2 1.72.3 3.23.9 4.22 1.3 1.18.5 3 1.66 4.2 2.7m17 2.06c-6.1 0-11 5.04-11 11.3 0 6.23 4.9 11.3 11 11.3s11-5.06 11-11.3c0-6.2-4.96-11.23-11-11.23m21.62 19.7c-2-1.7-3-3.8-3.1-3.74-.1 0-.8 2.4-1.45 3.8-.46 1-1.8 2.83-1.8 2.83s1.6 1.8 3.65 3.2c1.58 1.04 3.6 1.8 4.2 1.93.5.1 2 .6 3.9.7.88.08 1.8.08 2.7 0 .5-.02 1.1-.1 1.6-.2 2.5-.3 5.28-1.8 5.77-2.1.67-.32 2.2-1.33 3.6-2.7 1.24-1.2 2.3-2.8 2.6-3.33.76-1.3 1.6-2.67 1.35-3.5-.3-.8-1.1-1.7-2.5-2.1-1.5-.4-2.6-.14-3.07.2-.4.3-.6.3-1 1.2-.1.3-.6 1.3-1.4 2.25-.77.85-1.68 1.6-2.3 2.05-1.4.9-3 1.5-4.4 1.7-1.4.13-2.5 0-3.1 0-1.2-.18-3.65-.9-5.3-2.3"
                fill="#fff"
                fill-rule="evenodd"
            />
        </svg>
    </a>
    <button style="border:none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <div class="hamburger hamburger--spring">
            <div class="hamburger-box">
            <div class="hamburger-inner"></div>
            </div>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  About
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/about"><small>About Us</small></a>
                    <a class="dropdown-item" href="/ourbeliefs"><small>Our Beliefs</small></a>
                    <a class="dropdown-item" href="https://graceoncampusucla.wordpress.com/"><small>Blog</small></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Resources
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/sermons"><small>Sermons</small></a>
                    <a class="dropdown-item" href="/classes"><small>Classes</small></a>
                    <a class="dropdown-item" href="/resources"><small>John Study Guide</small></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Get Involved
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/smallgroups"><small>Small Groups</small></a>
                    <a class="dropdown-item" href="/ministryteams"><small>Ministry Teams</small></a>
                </div>
            </li>
            <li class="nav-item"><a href="/events" class="nav-link">Events</a></li>
            <li class="nav-item"><a href="/rides" class="nav-link">Rides</a></li>
        </ul>
        <ul class="navbar-nav">
            <% if(user) { %>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= user.firstName %> <%= user.lastName %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/announcements"><small>Announcements</small></a>
                        <% if (user && (user.permissions.admin || user.permissions.roster)) { %>
                            <a class="dropdown-item" href="/roster"><small>Roster</small></a>
                        <% } %>
                        <a class="dropdown-item" href="/profile"><small>Edit Profile</small></a>
                        <a class="dropdown-item" href="/invite"><small>Invite user</small></a>
                        <a class="dropdown-item" href="/logout"><small>Log out</small></a>
                    </div>
                </li>
            <% } else { %>
                <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
            <% } %>
        </ul>
    </div>
</nav>