<html>
<head>
<%- include widgets/header.ejs %>
</head>
<body>
<%- include widgets/mainNav.ejs %>
<div class="container four-oh-four">
    <h1>Our shepherd can't find the page you're looking for!</h1>
    <img src="images/chrisgee.jpg" class="img-responsive">
    <a href="/" class="btn-default">Go home</a>
</div>
<%- include widgets/footer.ejs %>
</body>
</html>
