<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>
    <div class="overlay" id="about-us">
        <h1>About Us</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto px-4 py-5 my-3">
                <h2>Welcome to Grace on Campus</h2>
                <hr>
                <p>We are a ministry of Grace Community Church on the UCLA campus. We are a student group that exists to
                    glorify God and spread a passion for His glory by making disciples, shepherding them to value Jesus
                    Christ above all else, and training up the next generation of Christian leaders. In other words,
                    we exist to edify and equip the saints, evangelize the lost, and exalt the Lord Jesus Christ in all
                    things.
                </p>
                <p>
                    Every Friday night we gather for a time of singing, hearing God's Word taught, and fellowship.
                    It is during these weekly large group meetings that GOC comes together corporately to worship our great God.
                </p>
                <div class="row justify-content-center my-4" >
                    <a href="/docs/welcome-booklet.pdf" class="btn btn-primary mb-2 mx-4 col-lg-4">View Welcome Packet</a>
                </div>
                <div class="video-wrapper">
                    <iframe src="https://player.vimeo.com/video/371301973" width="100%" height="height100%" frameborder="0" webkitallowfullscreen
                        mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <%- include widgets/footer.ejs %>
<script>
    var refTagger = {
        settings: {
            bibleVersion: "ESV",
            caseInsensitive: !false,
            dropShadow: false,
            roundCorners: true,
            socialSharing: [],
            customStyle: {
                heading: {
                    backgroundColor: "#fff"
                },
                body: {
                    moreLink: {
                        color: "#539ab9",
                        fontFamily: "Akkurat"
                    }
                }
            }
        }
    };
    (function (d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = "//api.reftagger.com/v2/RefTagger.js";
        s.parentNode.insertBefore(g, s);
    }(document, "script"));
</script>
</html>
