<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>


<!-- importing all the packages -->
<script src='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/@fullcalendar/google-calendar@4.3.0/main.min.js'></script>
<script src='https://unpkg.com/popper.js/dist/umd/popper.min.js'></script>
<script src='https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js'></script>
<link href='https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css' rel='stylesheet' />
<link href='https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css' rel='stylesheet' />


<!-- our code -->
<link href='/css/calendar.css' rel='stylesheet' />
<script src='/js/calendar.js'></script>



<%- include widgets/mainNav.ejs %>
<div class="overlay" id="calendar">
    <h1><%= title%></h1>
</div>
<div id='calendar-content'></div>
<%- include widgets/footer.ejs %>
