<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<link rel="stylesheet" href="/css/loader.css">
<%- include widgets/mainNav.ejs %>
<div class="container my-5 py-5">
	<div class="col-lg-4 col-md-7 mx-auto text-center">
		<h1 class="mb-2">Change Password</h1>
        <!-- <h6 class="mb-5">Enter your email to receive instructions to reset it.</h6> -->
        <div class="alert alert-danger"></div>
        <form id="form" class="w-100">
            <div class="text-left form-group">
                <label for="currentPassword">Current Password</label>
                <input id="currentPassword" type="password" class="form-control" placeholder="Current Password" name="currentPassword" required>
            </div>
            <div class="text-left form-group">
                <label for="newPassword">New Password</label>
                <input id="newPassword" type="password" class="form-control" placeholder="New Password" name="newPassword" required>
            </div>
            <div class="text-left form-group">
                <label for="confirmNewPassword">Confirm New Password</label>
                <input id="confirmNewPassword" type="password" class="form-control" placeholder="Confirm New Password" name="confirmNewPassword" required>
            </div>
            <button id="signup" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<%- include widgets/footer.ejs %>
<script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
<script>
$(document).ready(function() {
    $('.alert').hide(); 
    var config = JSON.parse('<%- JSON.stringify(config) %>');
    firebase.initializeApp(config);
})
$('#form').submit( function(e) {
    $('.alert').hide() 
    $('.alert').html('') 

    e.preventDefault();
    var auth = firebase.auth();
    var userEmail = auth.currentUser.email;
    var currentPassword = $('#currentPassword').val();
    var newPassword = $('#newPassword').val();
    var confirmNewPassword = $('#confirmNewPassword').val();

    console.log(auth.currentUser);

    if(newPassword != confirmNewPassword) {
        $('.alert').show() 
        $('.alert').html('New passwords don\'t match!')
    } else {
        auth
        .signInWithEmailAndPassword(userEmail, currentPassword)
        .then(function(user) {
            auth.currentUser.updatePassword(newPassword).then(function(){
                $('#signup').addClass('success')
                $('#signup').html('Updated Password&nbsp;&nbsp;<i class="icon ion-ios-checkmark"></i>')
                window.location.assign('/profile');
            }).catch(function(error) {
                $('#signup').html('Submit')
                $('html, body').animate({
                    scrollTop: $(".alert").offset().top
                }, 750);
                $('.alert').show() 
                $('.alert').html(error.message)
            });

        }).catch(function(error) {
            $('#signup').html('Submit')
            $('html, body').animate({
                scrollTop: $(".alert").offset().top
            }, 750);
            $('.alert').show() 
            $('.alert').html(error.message)
        });
    }
});
</script>
</html>
