<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>

    <div class="overlay" id="leadership">
        <h1>Leadership</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto px-4 pt-5">
                <h2>Shepherd</h2>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/matt.jpg">
                     </div>
                     <div class="description col-lg-6">
                        <h4 class="mb-3">Matt Ng</h4>
                        <p>Matt was born in San Francisco and raised in a Christian home, coming to saving faith at a young age. He moved to Los Angeles to attend UCLA, and became actively involved at Grace on Campus and Grace Community Church during his college years. A graduate of The Master’s Seminary, he has served as the shepherd of Grace on Campus since 2021. Matt and his wife Kimmie (also from San Francisco and a UCLA alum) are blessed with three boys and a girl. In their spare time, the Ngs enjoy watching the Warriors when they win, visiting coffee shops around town, and smoking meat in their backyard smoker.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include widgets/footer.ejs %>
</html>
