<!doctype html>
<html lang="en">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67990816-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-67990816-1');
</script>
</head>
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>

    <div class="overlay" id="leadership">
        <h1>Leadership</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto px-4 pt-5">
                <h2>Shepherd</h2>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/chris.jpg">
                    </div>
                    <div class="description col-lg-6">
                        <h4 class="mb-3">Chris Gee</h4>
                        <p>As the shepherd of Grace on Campus, Chris provides vision and oversight to the Bible Study, preaches weekly, and equips students for serving in the church and reaching the UCLA campus with the Gospel of Jesus Christ. He studied Mass Communication and English at UCLA and then moved on to earn his M.Div. and Th.M. degrees at The Master’s Seminary. He has been married to his wife Linda since 2011, and together they have the joy of raising two spunky and rambunctious sons. It has been said of Chris that he is “trapped in the 90s” as evidenced by his love for polo shirts, Nike Air Force 1’s, Nintendo 64, and phrases like “fo’ sho’” and “you da man.” During his free time, Chris enjoys playing basketball, but it’s mainly for the cardio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto px-4 pt-5">
                <h2>Undershepherds</h2>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/matt.jpg">
                     </div>
                     <div class="description col-lg-6">
                        <h4 class="mb-3">Matt Ng</h4>
                        <p>Matt was born and raised in San Francisco and came to Los Angeles in 2007 to attend UCLA, at which point he became involved at Grace Community Church. Currently, Matt is studying at The Master’s Seminary and working at Grace’s coffee shop, Steeple House Coffee. He is involved with discipling students, coming alongside Chris in providing oversight, and alternately leading music in Crossroads. Matt is married to his wife Kimmie, who is a kindergarten teacher. Matt and Kimmie can be found hosting friends, eating sushi, and exploring coffee shops.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/david.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">David Chow</h4>
                        <p>David grew up in Sacramento, CA in a Christian home but it wasn’t until junior high that God revealed the weight of his sin and that he is redeemed only through Jesus Christ who died for all his sin.  In 2005 he came to UCLA and studied International Development Studies and began working for the Federal Gov’t in 2009. Today his passion is to help disciple GOC, especially young men who want to grow in the Lord.  Other interests are photography, basketball, reading a solid book, and eating good food!
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/austin.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">Austin C.</h4>
                        <p>Austin graduated from UCLA in 2013 with a B.S. in Mathematics/Economics but could not leave his favorite college ministry of all-time, Grace on Campus, because of the indelible impact it has made upon his soul. He is currently working as a test engineer in the software industry and is actively involved in various teaching ministries, discipleship relationships, and higher-level oversight at GOC. His interests include studying at coffee shops, talking theology, playing badminton, and watching the UCLA men’s basketball team rise back to national prominence. U-C-L-A fight fight fight!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto px-4 pt-5">
                <h2>Executive Staff</h2>
                <hr class="mb-4" />
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/phil.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">Phil and Loretta Haw</h4>
                        <p>Loretta and Phil are from Fresno and Selma. They are graduates of Fresno State and met when their accounting professors seated them side by side. After a year of courtship, they married. They have two married daughters, two grandsons, four granddaughters and one great grandson. They moved their membership to Grace Community Church in 1973 after moving the Southern California and have served in many ministries. The longest have been choir, the Board of Elders, Crossroads, and Every Women’s Grace. They have served on staff at GOC UCLA for eight years. They have enjoyed serving by counseling, encouraging, and participating in all GOC/Welcome activities.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/tim.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">Tim and Jaime Huang</h4>
                        <p>Tim is thankful to be a part of a church that is committed to loving and abiding by God’s Word.  As staff, he has a passion for young people to know Jesus as their Lord and Savior, and to equip them to serve the local church. He loves to disciple students, counseling them in areas of spiritual disciplines, leadership, relationships and career.  Tim and his wife Jaime met at UCLA when they were undergrads, and are blessed with three kids. He currently works as an engineer in the defense industry.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/timpeters.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">Tim and Patti Peters</h4>
                        <p>Tim is a retired sheriff who loves fly fishing and discipling men. Whenever possible, he does both at the same time. Tim has served as an elder at Grace Church, including four years as the chairman of the elder board. Tim and his wife Patti have been serving at Grace on Campus since 2003. They have two children and five grandchildren.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/paul.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">Paul and Peggy Ushijima</h4>
                        <p>Paul and Peggy became Christians (Paul in 1978 and Peggy in 1971), met in a Bible study and were married in 1979. They have served at Grace Church since 1986 in various ministries including: Children’s, Adult, Senior and Outreach before coming to Crossroads/GOC in 2003. Paul also served as an Elder at Grace Church. They work with the GOC men (Paul) and women (Peggy) meeting with individuals, Small Group Leaders and staff for fellowship, discipleship and counseling. Paul received a B.S./Design from Illinois Institute of Technology. Peggy earned a B.A./Math from UCSD.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/williamsons.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">Andrew and Judy Williamson</h4>
                        <p>Andrew and Judy have served at UCLA Grace on Campus since 2000. They have previously served in other ministries at Grace Community Church including Fundamentals of the Faith and Grace Life. Judy received a Bachelor of Science and Master of Science in Nursing from UCLA and previously attended GOC as a student and staff person. Andrew received a Bachelor of Commerce degree from the University of Western Australia and an MBA from the Anderson School at UCLA. They have four children: Joshua, Jenna, John and Daniel.</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include widgets/footer.ejs %>
</html>
