<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>

    <div class="overlay" id="leadership">
        <h1>Leadership</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto px-4 pt-5">
                <h2>Undershepherds</h2>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/matt.jpg">
                     </div>
                     <div class="description col-lg-6">
                        <h4 class="mb-3">Matt Ng</h4>
                        <p>Matt was born and raised in San Francisco and came to Los Angeles in 2007 to attend UCLA, at which point he became involved at Grace Community Church. Currently, Matt is studying at The Master’s Seminary and working at Grace’s coffee shop, Steeple House Coffee. He is involved with discipling students, coming alongside Chris in providing oversight, and alternately leading music in Crossroads. Matt is married to his wife Kimmie, who is a kindergarten teacher. Matt and Kimmie can be found hosting friends, eating sushi, and exploring coffee shops.
                        </p>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <img class="img-fluid" src="images/david.jpg">
                        </div>
                        <div class="description col-lg-6">
                        <h4 class="mb-3">David Chow</h4>
                        <p>David grew up in Sacramento, CA in a Christian home but it wasn’t until junior high that God revealed the weight of his sin and that he is redeemed only through Jesus Christ who died for all his sin.  In 2005 he came to UCLA and studied International Development Studies and began working for the Federal Gov’t in 2009. Today his passion is to help disciple GOC, especially young men who want to grow in the Lord.  Other interests are photography, basketball, reading a solid book, and eating good food!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include widgets/footer.ejs %>
</html>
