<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>
<div class="overlay" id="small-group-men">
  <h2>Men's Small Groups</h2>
</div>
<div class="container">
  <p>Feel free to contact any leader if you are interested in joining their small group!</p>
  <iframe class="mb-5" src="/docs/sgl-men.pdf" width="100%" height="1000px"></iframe>
</div>

<%- include widgets/footer.ejs %>
</html>
