<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>
    <div class="overlay" id="small-group">
        <h1>Small Groups</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto px-4 py-5 my-3 order-md-1">
                <h3>What are small groups?</h3>
                <hr>
                <p>Small groups are the backbone of our discipleship ministry. Each small group focuses on Bible study, prayer, fellowship, and accountability. In these smaller, more intimate groups, we have the opportunity to develop deep relationships so that we can better love, serve, and care for each other. Each small group has a leader who will minister to your spiritual needs, counsel you through life’s tough issues, and spur you on in your walk with the Lord.</p>
                <br>
                <br>
                <h3>I want to join a small group!</h3>
                <hr>
                <p>Awesome! Men's and women's small group leaders are listed in the following links, along with a quick intro so you can get to know them better.</p>
                <div class="row justify-content-center my-4" >
                    <a href="/docs/sgl-men.pdf" class="btn btn-primary mb-2 mx-4 col-lg-4">View men's SG leaders</a>
                    <a href="/docs/sgl-women.pdf" class="btn btn-primary mx-4 col-lg-4">View women's SG leaders</a>
                </div>

                <p>Feel free to either contact any of the leaders about joining. Or, you can submit your name and email address below, and we'll get in contact with you instead!</p>
                <form action="/sginterest" method="post">
                    <div class="row">
                        <div class="col-lg-5">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required placeholder="Enter name">
                        </div>
                        <div class="col-lg-4">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required placeholder="Enter email">
                        </div>
                        <div class="col-lg-3 mobile-padding">
                            <button type="submit" style="height:43px; margin-top:24px; padding:15px" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
                <!-- <button data-toggle="collapse" data-target="#demo" class="mt-1 btn btn-primary">Men</button>
                <div id="demo" class="collapse">
                    <iframe src="/docs/sgl-men.pdf" width="100%" height="500px">
                    </iframe>
                </div>
                <br></br>
                <button data-toggle="collapse" data-target="#demo1" class="mt-1 btn btn-primary">Women</button>
                <div id="demo1" class="collapse">
                    <iframe src="/docs/sgl-women.pdf" width="100%" height="500px">
                    </iframe>
                </div> -->

            </div>
        </div>
    </div>
<%- include widgets/footer.ejs %>
</html>
