<!doctype html>
<html lang="en">
<%- include widgets/header.ejs %>
<%- include widgets/mainNav.ejs %>
<div class="container py-8 my-8">
    <div class="my-5">
      <h> <%= Class.title%> <h>
      <% console.log(Class) %>
</div>
</html>
