<!DOCTYPE html>
<html lang="en">
  <%- include widgets/header.ejs %> <%- include widgets/mainNav.ejs %>
  <div class="overlay" id="welcome-week">
    <h1>Welcome Week</h1>
  </div>
  <div class="container-fluid">
    <div class="container py-5">
      <h2 class="center font-weight-bold mb-4 pb-2">Welcome Week Events</h2>
      <div class="row boxes">
        <div class="col-md-4 d-flex align-items-start flex-column box">
          <img src="/images/tourofwestwood.jpeg" class="img-fluid" />
          <div class="box-heading">Tour of Westwood</div>
          <div class="box-info">
            (Tue 9/26) 5:30 PM - 9:00 PM<br />
            Meet between
            <a href="https://goo.gl/maps/3gmuSGgQwoYrfb6w6">Pauley Pavilion</a>
            and the <a href="https://goo.gl/maps/HqL8HSnC4sUT5aqx8">Central Ticket Office</a>
          </div>
          <div class="box-body">
            Want to get acquainted with UCLA and learn about GOC? Come and enjoy
            free food from our favorite restaurants as we show you around Westwood!
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-start flex-column box">
          <img src="/images/beachday.jpeg" class="img-fluid" />
          <div class="box-heading">Santa Monica Beach</div>
          <div class="box-info">
            (Wed 9/27) 2 PM - 7 PM<br />
            Meet at
            <a href="https://goo.gl/maps/8PcrWf8DmidqZ7YD9"
              >Hedrick Turnaround</a
            >
          </div>
          <div class="box-body">
            Join us at Santa Monica Beach to enjoy the sunset, play some games,
            form new friendships, and hear the gospel!
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-start flex-column box">
          <img src="/images/icecream.jpeg" class="img-fluid" />
          <div class="box-heading">Ice Cream Social</div>
          <div class="box-info">
            (Fri 9/29) 7 PM - 9:30 PM<br />
            <a href="https://goo.gl/maps/zu3GLke6MffVMat26"
              >Broad Art Center 2160E</a
            >
          </div>
          <div class="box-body">
            Join us for our first on-campus Bible study of the year and stay
            afterwards for fellowship and free ice cream!
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include widgets/footer.ejs %>
</html>
