/* Global Declarations */
@font-face {
	font-family: 'Akkurat';
	src: local('Akkurat-Bold'),
		url('/fonts/subset-Akkurat-Bold.woff2') format('woff2'),
		url('/fonts/subset-Akkurat-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat';
	src: local('Akkurat'),
		url('/fonts/subset-Akkurat.woff2') format('woff2'),
		url('/fonts/subset-Akkurat.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arnhem';
	src: local('ArnhemFine-Normal'),
		url('/fonts/subset-ArnhemFine-Normal.woff2') format('woff2'),
		url('/fonts/subset-ArnhemFine-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
*:focus {
    outline: 0!important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }
.form-control::-webkit-input-placeholder {
    font-style: normal;
    line-height: 1.3rem;
 }
 .form-control:-moz-placeholder {
    font-style: normal;
    line-height: 1.3rem;
 }
 .form-control::-moz-placeholder {
    font-style: normal;
    line-height: 1.3rem;
 }
 .form-control:-ms-input-placeholder {
    font-style: normal;
    line-height: 1.3rem;
 }

.form-control {
    border: 1px solid #dfe0e3;
    border-radius: 1px;
    font-family: 'Akkurat', sans-serif;
    margin-top: 3px;
    height: 43px;
    padding: 9px 17px;
    margin: 0 0 7px;
    font-size: 16px;
    line-height: 19px;
}
.form-control:focus {
    border: 1px solid #539ab9;
}
.form-control.red {
    border: 1px solid #b40a34!important;
}
.red {
    background-color: #b40a34!important;
}

/* buttons! */
.btn-primary {
    font-family: 'Akkurat';
    font-size: 12px;
    text-transform: uppercase;
    background-color: #539ab9;
    border-radius: 5px;
    padding: 12px 15px;
    width: 100%;
    height: 40px;
    border: none;
    letter-spacing: 1.5px;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #539ab9;
    opacity: 0.7;
    cursor: pointer;
}
.btn-primary.outline {
    background-color: #fff;
    border: 1px solid #539ab9;
    color: #539ab9;
}
.small {
    height: 42px;
    padding: 15px;
    width: auto;
}
label {
    font-family: 'Akkurat', sans-serif;
    font-size: 12px;
    color: #848895;
    line-height: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 3px;
}
.form-check label {
    letter-spacing: 0px;
    color: #3a3f4b;
    font-size: .9rem;
    line-height: 1.1rem;
}


/* GENERAL TEXT */
a {
    color: #539ab9;
    transition: all .3s;
    font-family: 'Akkurat';
    text-decoration: none;
    background-color: transparent;
    touch-action: manipulation;
}
a:hover {
    text-decoration: none;
    color: #539ab9;
    opacity: 0.7;
}
hr {
    border-color: #ecedef
}

.overlay {
    background: no-repeat center;
    background-size: cover;
    height: 28rem;
    width: 100%;
    text-align: center;
}

.overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

.overlay h1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 10vw;
    margin: 0;
    position: relative;
    color: #fdfdfd;
}

html,
body{
    color: #3a3f4b;
    font-family: 'arnhem', serif;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav a,
th {
    font-family: 'Akkurat', sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #04164d;
}
h6, .h6 {
    line-height: 1.3em
}
p {
    font-size: 16px;
    line-height: 24px;
    font-family: 'Akkurat', sans-serif;
    margin-bottom: 1rem;
}

/* Navigation Bar */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }

  .hamburger-box {
    width: 28px;
    height: 18px;
    display: inline-block;
    position: relative; }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 28px;
      height: 2px;
      background-color: #fff;
      border-radius: 4px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
      .hamburger--spring .hamburger-inner {
        top: 6px;
        transition: background-color 0s 0.13s linear; }
        .hamburger--spring .hamburger-inner::before {
          top: 7px;
          transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        .hamburger--spring .hamburger-inner::after {
          top: 14px;
          transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
      .hamburger--spring.is-active .hamburger-inner {
        transition-delay: 0.22s;
        background-color: transparent; }
        .hamburger--spring.is-active .hamburger-inner::before {
          top: 0;
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 10px, 0) rotate(45deg); }
        .hamburger--spring.is-active .hamburger-inner::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
        }

.navbar {
    min-height: 1rem;
    text-align: center;
    position: fixed;
    top: 0;
    z-index:10;
    background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,0) 100%);
    width:100%;
    transform: translateY(0);
    transition: background-color 250ms linear, transform .8s, padding-bottom .8s;
}

.navbar.scrolled {
    background-color: rgba(0,0,0,.6)!important;
    padding-bottom: 0;
    transform: translateY(-8px);
    transition: background-color 250ms linear, transform .8s, padding-bottom .8s;

}

.navbar.static {
    background: rgba(0,0,0,.7)!important;
    padding-bottom: 0;
    transform: translateY(-8px);
  }

.navbar-toggler {
    padding: .25rem 0 .25rem .75rem;
}

.nav-link {
    text-transform: uppercase;
    color: #fff!important;
}
.nav-link:hover {
    opacity: 0.7;
}
.active > a {
    color: #539ab9!important;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
}
.navbar.ham-is-active {
    background-color: rgba(0,0,0,.6)
}

/* Footer */
footer {
    padding: 4rem 0 3rem;
    background-color: rgba(0,0,0,.05) !important;
    margin-top: 2rem;

}
footer .card {
    border: 1px solid #0a2a44;
    opacity: 1;
    transition: opacity .4s;
}
footer .card:hover {
    opacity: .7;
}
.custom-file-control, .custom-file-control::before {
    line-height: 2;
}
.custom-file-control::before {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 1px;
    height: 43px;
}
.custom-file-control::after {
    font-family: 'Akkurat', sans-serif;
    font-size: 16px;
    line-height: 19px
}
.custom-file-control:active {
    border-color: #539ab9;
}
.custom-file-control {
    border: 1px solid #dfe0e3;
    padding: 15px;
    padding: 10px 15px;
    border-radius: 1px;
    height: 43px;
    top: -2px;
}

#about-us {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/large.jpg);
}

#our-beliefs {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/beliefs.jpg);
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-top: 3rem;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#classes {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/classes.jpg);
}
#Large {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/large.jpg);
}

#Small {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/small.jpg);
}

#Cover {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/connect.jpg);
}
.admin {
    margin: 2rem;
}

small {
    font-family: "Akkurat"
}

#events {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/events.jpg);
    margin-bottom: 10px
}
#blog {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/blog.jpg);
}
@media (min-width: 992px) {
    .mobile-padding {
        padding: 0;
    }
}
.card {
    background: rgba(0,0,0,.01);
    border: 1px solid rgba(0,0,0,.08);
}
#leadership {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/leadership.jpg);
}
#rides {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/rides.jpg);
}
#sermons {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/sermons.jpg);
}
#resources {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    ), url(../images/resources.jpg);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.sermon td:nth-child(2) {
    text-align: right
}
td {
    font-family: 'Akkurat';
    font-size: 14px;
    line-height: 20px;
}
thead td {
    font-family: 'Akkurat';
    font-size: 12px;
    letter-spacing: 0.5;
    color: #848895
}
#roster {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ),
    url(../images/roster.jpg);
}
.list {
    list-style: none;
}
.sticky-top {
    top: 15px;
}

.mejs__container {
    position: relative; /*I tried changing this */
    clear: none; /* and added this */
    display: inline-block;
}
.float {
    float: right;
    margin-top: 10px
}
@media (min-width: 767px) {
    .mobile-padding {
        padding: 0 12px 0;
    }
    .float {
        float: left;
        margin-top: 0
    }
}
#sermon-list ul {
    padding-left: 0;
}
.sticky-top {
    top: 15px;
}

.dropdown-menu {
    border: transparent;
    background: rgba(0, 0, 0, 0.3);
}
.dropdown-item {
    color: #fff;
}
.dropdown-item > a:first-child {
    color: #212529;
    vertical-align: middle
}
.badge {
    display: none;
}
.date:hover {
    cursor: pointer;
}
.thumbnail {
    width: 100%;
}
.post img {
    width: 100%;
    height: auto;
}
.postHead.post {
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    );
    background-position-y: top;
    height: 30rem;
}
.postHead {
    background: no-repeat center;
    background-size: cover;
    height: 20rem;
    width: 100%;
    text-align: center;
}

.postHead .meta {
    margin: 0 auto;
    color: #fdfdfd;
    max-width: 800px;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: inline-block;
}

.postHead h2 {
    font-size: 6vw;
    color: #fdfdfd;
}

@media screen and (max-width: 768px) {
    .postHead h2 {
        font-size: 10vw;
    }
}
.pagination {
   flex-wrap: wrap!important;
}
.hidden {
   list-style-type: none;
}
.bannerContainer {
    position: relative;
}
.carousel {
    top:0;
}
.submit-resources {
    margin: 5px 0;
}
textarea.resource-descs {
    width: 700px;
    height: 400px;
}